<center>
  <br>
  <h1>Todas las ventas</h1>
  <br>
</center>
<p id="notice"><%= notice %></p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Codigo</th>
        <th scope="col">Categoria</th>
        <th scope="col">Total</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% k = 0%>
      <%= @sales.each do |sale| %>
      <% k = k + 1 %>
      <tr>
        <th scope="row"><%= k %></th>
        <td><%= sale.cod %></td>
        <td><%= sale.category %></td>
        <td><%= sale.total %></td>
        <td><%= link_to 'ver', sale %>
            <%= link_to 'Borrar', sale, method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Nueva venta', sales_new_path, class: 'btn btn-lg btn-primary' %>
